scgi_local = ~/rpc.socket
schedule = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",~/rpc.socket"
session = ~/.rtorrent.session
directory = /mnt/downloads/bittorrent/incomplete
encryption = require,allow_incoming,require_RC4
method.set_key = event.download.finished,TorrentToMedia,"execute=/usr/local/bin/python2,~/nzbtomedia/TorrentToMedia.py,$d.base_path=,$d.name=,$d.custom1=,$d.hash="
