scgi_local = /usr/local/libdata/rtorrent/rpc.socket

# Set correct access rights to the socket file ----------+
# so both, lighttpd and rtorrent, could perform          |
# read-write operations                                  v
schedule = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",/usr/local/libdata/rtorrent/rpc.socket"
session = ~/.rtorrent.session
directory = /mnt/downloads/bittorrent/incomplete
encryption = require,allow_incoming,require_RC4
